body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1706px;
  height:928px;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:1706px;
  height:928px;
}
#u6936 {
  position:absolute;
  left:2px;
  top:456px;
  width:1702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6937 {
  position:absolute;
  left:1114px;
  top:626px;
  width:79px;
  height:49px;
}
#u6938 {
  position:absolute;
  left:2px;
  top:16px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939 {
  position:absolute;
  left:1123px;
  top:638px;
  width:61px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6940 {
  position:absolute;
  left:1800px;
  top:392px;
  width:300px;
  height:46px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u6942 {
  position:absolute;
  left:1770px;
  top:390px;
  width:20px;
  height:20px;
}
#u6943 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u6944 {
  position:absolute;
  left:1710px;
  top:400px;
  width:0px;
  height:0px;
}
#u6944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u6944_seg1 {
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6945 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
