body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1706px;
  height:928px;
}
#u6901 {
  position:absolute;
  left:0px;
  top:0px;
  width:1706px;
  height:928px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:456px;
  width:1702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903 {
  position:absolute;
  left:931px;
  top:552px;
  width:63px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6904 {
  position:absolute;
  left:831px;
  top:552px;
  width:51px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
